*  {
box-sizing: border-box;
-webkit-box-sizing: border-box;   

}


body {
   background: url('https://i.cdn.turner.com/adultswim/big/img/2018/11/29/18-RAM_Landing%20Page%20Update.png');
    }
   
    .logo {
       width: 650px; 
       height: 300px;
       align-content: center;
       display:block;
       margin:auto;     
    }
   
    .morty1 {
       width: 600px; 
       height: 600px;
       align-content: center;
       display:block; /* para centrar imagen */
       margin:auto;
   
    }
   
    .chip{  
      background-color: #FAFFF9;
      color: #4F6D67;
      text-align: center;
      border: 1px solid;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      /*Sombras de las tarjetas   */
      -webkit-box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);
      -moz-box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);
      box-shadow: 10px 10px 25px 0px rgba(51,51,51,1);
  
  }
  
  
  
  .container{
  
  
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #05C877;
      
  }


  


 
 #infoText{

text-align: center;
color:#fbff00;
flex:center;
 }
  
#filterType {

box-align: center; display: block;
width: 200px;
height: 60px;
padding: 0px 0 0 0;
margin: 0 auto;
background: rgb(10, 196, 41);
font-size: 24px ;
text-align: center;
color: black;
font-weight:bold;

}

#containerAlphabet{

   box-align: center; display: block;
   width: 200px;
   height: 60px;
   padding: 0px 0 0 0;
   margin: 0 auto;
   background: rgb(10, 196, 41);
   font-size: 24px ;
   text-align: center;
   color: black;
   font-weight:bold;
   
   }
  .tarjeta  {

  background: #05C877;
      
  }

